HTML {
    overflow-y: scroll;
}

BODY {
    background-color: white;
    text-align: left;
    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
}

* {
    margin: 0;
    padding: 0;
}

#content {
    background-color: white;
    padding: 10px 8px 15px 8px;
    position: relative;
}

h2 {
    font-family: verdana, arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.formbox {
    padding: 15px 0px 15px 15px;
    border: 1px solid #003366;
}

.formline {
    padding: 5px 0px 5px 0px;
}

form label {
    float: left;
    padding: 4px 0px 0px 0px;
    width: 90px;
}

form input,
textarea,
select {
    padding: 3px 4px 3px 4px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    font-family: arial, sans-serif;
    font-size: 10pt;
}

form input:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 5px #9ecccc;
}

.btn {
    color: #0000A0;
    background: #40c4c4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 2px;
    font-family: arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding: 2px 3px 2px 3px;
    cursor: pointer;
}

.btn:hover {
    color: #001800;
    background: #40B040;
}

.btn:active {
    color: #180000;
    background: #C04040;
}

TABLE {
    border: 1px solid #c0c0c0;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    font-size: 10pt;
}

/* This page CSS */

#actForm {
    margin: 5px 10px 10px 10px;
}

.showBox {
    margin: 5px 0px 15px 0px;
    padding: 10px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid black;
    box-shadow: 6px 6px 6px #666;
    font-family: Arial;
    font-size: 10pt;
    overflow-x: auto;
}

CANVAS {
    display: block;
}

.trLvl {
    padding: 2px;
}

TABLE.trNode TD {
    border: 1px solid #8C6414;
    background-color: #D2B48C;
    padding: 2px 2px 2px 2px;
}

TABLE.trLeaf TD {
    border: 1px solid #008000;
    background-color: #90EE90;
    padding: 2px 2px 2px 2px;
}

TABLE.trLeaf TD.here {
    border: 1px solid #CC0000;
    background-color: #FFAAAA;
}